<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>

  <div class="login-container">
    <h2>Welcome Back</h2>

    <input type="email" id="email" placeholder="Email">
    <input type="password" id="password" placeholder="Password">

    <button id="loginBtn">Login</button>

    <p id="errorMsg"></p>
  </div>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-firestore-compat.js"></script>

  <script src="../js/firebase-config.js"></script>
  <script src="../js/auth.js"></script>
  <script src="../js/login.js"></script>

</body>
</html>

